.projects {
  min-height: 100vh;
  opacity: 0;
}
.projects-animation {
  width: 100%;
  height: fit-content;
  padding: 75px 30px;
  min-height: 100vh;
}
.projects-title-wrapper {
  width: 65%;
  display: flex;
  align-items: center;
}
.projects a {
  text-decoration: none;
}
.projects-conatainer {
  padding: 50px 0px;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.project-component {
  max-width: 300px;
  border: 1px solid #44b09025;
  height: 350px;
  position: relative;
  background-color: rgb(21, 29, 45);
  transition: 0.2s;
  border-radius: 2px;
  cursor: pointer;
}
.project-component:hover p {
  color: var(--bright-border);
}

.project-component:hover .project-github-icon {
  fill: var(--bright-border);
}
.project-img-cover:hover {
  background-color: rgb(21, 29, 45, 0.5);
}
.project-component img {
  width: 100%;
  transition: 0.2s;
  height: 50%;
}
.project-img-cover {
  width: 100%;
  height: 50%;
  transition: 0.2s;
  position: absolute;
  background-color: rgb(21, 29, 45, 0.7);
}

.project-detail {
  font-size: 12px;
  direction: ltr;
  line-height: 20px;
  padding: 10px;
}
.project-detail p {
  color: var(--dark-color);
}
.project-github-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  fill: var(--dark-color);
  cursor: pointer;
}
.projects-animation a {
  text-decoration: none;
}
@keyframes wipe-enter {
  0% {
    opacity: 0;
    transform: translateY(500px);
    transform: scale(0.85, 0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .projects-animation {
    animation: wipe-enter 0.3s ease;
  }
}
